
.DS_Store
exericise-book/exercise-book-opt.aux
exericise-book/exercise-book-opt.out
exericise-book/exercise-book-opt.synctex.gz
exericise-book/exercise-book-opt.fdb_latexmk
exericise-book/exercise-book-opt.fls
exericise-book/exercise-book-opt.log
exericise-book/exercise-book-opt.toc
